@use "../utils" as *;

.footer {
  width: 100%;
  @include flex-center($direction: row, $justify: center);
  height: 100px;
  padding: 0 clamp-calc($breakpoint-minimum, $breakpoint-mobile, 20px, 50px);

  p {
    flex: 1;

    &:first-child {
      text-align: left;
    }

    &:last-child {
      text-align: right;
    }
  }

  &-svg-icon {
    mask: url("/images/icon.svg") no-repeat center / contain;
    -webkit-mask: url("/images/icon.svg") no-repeat center / contain;
    width: clamp-calc($breakpoint-minimum, $breakpoint-mobile, 35px, 50px);
    aspect-ratio: 1 / 1;
  }
}
