@use "../utils" as *;

.header {
  .content-container {
    gap: clamp-calc($breakpoint-minimum, $breakpoint-mobile, 20px, 50px);
    @include flex-center();
  }

  &-svg-title {
    mask: url("/images/title.svg") no-repeat center / contain;
    -webkit-mask: url("/images/title.svg") no-repeat center / contain;
    width: 100%;
    height: clamp-calc($breakpoint-minimum, $breakpoint-mobile, 130px, 310px);
  }

  &-subtitle {
    font-size: 1.75rem;
    width: 100%;
    text-align: center;
    // font-size: clamp-calc($breakpoint-mobile, $breakpoint-desktop, 1.125rem, 1.875rem);

    // // mobile
    // @media (max-width: $breakpoint-mobile) {
    //   // padding: none;
    //   width: clamp-calc($breakpoint-minimum, $breakpoint-mobile, 261px, 418px);
    // }
  }
}
