@use "./utils" as *;

// reset
@use "reset";

// layout
@use "layout/header";
@use "layout/footer";

* {
  color: $color-foreground;
}

html,
body {
  margin: 0;
  @include font-urbanist();
  background-color: $color-background;
  min-width: $breakpoint-minimum;
}

header,
section {
  width: 100%;
  @include flex-center;
  min-height: 90vh;

  // mobile
  @media (max-width: $breakpoint-mobile) {
    min-height: vh-mobile(90);
  }

  .content-container {
    width: 1200px;
    max-width: 90%;
    margin: 0 100px;
    @include flex-center($direction: row);
  }
}

p {
  em {
    font-weight: 600;
  }
}

.bg-gradient {
  background-position: $color-gradient-animation-position-end;
  background-image: $color-gradient-full;
  background-size: $color-gradient-size;
  background-attachment: fixed;

  &-text-fill {
    display: inline-block;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }

  &-animate {
    animation: $color-gradient-animation;
  }
}

.mobile-br {
  display: none;

  // mobile
  @media (max-width: $breakpoint-mobile) {
    display: inline;
  }
}
